
.container{
display: flex;
flex-direction: row;
align-items: center;
margin-top: 20px;
margin-left: 20px;
flex-wrap: wrap;
justify-content: center;
}

.image{
    border-radius: 2%;
    width: 400px;
    height: 400px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #ccc;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        -khtml-box-shadow: 10px 10px 5px #ccc;
  }